/* 
    Created on : 11-feb-2018, 11:49:10
    Author     : bruno
*/
.root{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #F1EEEE 0%, #CAB7A0 50%);
    -fx-padding: 0 7px 7px 7px;
}
