/* 
    Created on : 11-feb-2018, 11:49:10
    Author     : bruno
*/
.root{
    -fx-background-color: #333333;
    -fx-padding: 0 7px 7px 7px;
}

.button{
    -fx-text-fill: white;
    -fx-background-color: #333333;
}

.button:hover{
    -fx-text-fill: aqua;
}

.button:pressed{
    -fx-text-fill: darkgoldenrod;
}

#btnMenos{
    -fx-font-size: 35;
}