/* 
    Created on : 26-feb-2018, 20:26:08
    Author     : bruno
*/
.root{
    /*-fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #F1EEEE 0%, #CAB7A0 50%);*/
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #F1EEEE 0%, #755900 50%);
    -fx-padding: 0 7px 7px 7px;
}

.button:hover{
    -fx-background-color: aquamarine;
}

.button:pressed{
    -fx-scale-x: 1.1; 
    -fx-scale-y: 1.1;
}

.button{
    -fx-background-color: #b5901e;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-border-width: 2;
    -fx-background-radius: 10px;
    -fx-border-color: #ffb933
}

#btnMenos{
    -fx-font: 20pt bold;
}

.text-field{
    -fx-text-fill: #3300cc;
}



